// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player0 {
 position:relative;
 top:-4px;
 left:-9px;	
}

.player1 {
	position:relative;
	top:-22px;
	left:9px
}

.player2 {
	
}